<!doctype html>
{% load staticfiles %}
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>Wall for you any.</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap-3.3.2-dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-3.2.2-dist/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/wall.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="{% url 'post_list' %}">Project Wall</a></h1>
			{% if user.is_authenticated %}
			<!-- <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a> -->
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<p class="top-menu">Hello {{ user.sername }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
			{% else %}
			<a href="{% url 'signup' %}" class="top-menu"><span class="btn btn-default">회원가입</span></a>
			<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
		</div>

		<div class="top-menu">
		</div>
		
		<div class="content container">
			<div class="row">
				<div class="col-md-12">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
